entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 5000

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 45171832
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow]]
name = "Development Mode"
author = 45171832
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run client"
